.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
  color: var(--heading-color);
}

.App-intro {
  font-weight: 600;
  font-size: calc(12px + 2vmin);
}

.App-link {
  color: var(--link-color);
  text-decoration: none;
  font-weight: 600;
  padding: 1rem;
  background: var(--heading-color);
}

.theme-btn {
  display: flex;
  float: right;
  padding-right: 25px;
}

.theme-btn-text {
  padding-bottom: 5px;
  padding-right: 10px;
  font-size: 20px;
}

.nav-bar {
  background: var(--heading-color);
  color: var(--bg-color);
  width: 100%;
  position: absolute;
  top: 0;
  padding: 15px 20px;
}

.nav-brand {
  float: left;
  font-weight: 700;
  padding-left: 25px;
  font-size: 24px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
